@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #b1fff3;
    color: rgb(0, 59, 40);
}

h1, h2{
    font-weight: 300;
}