@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* globales */
body{
    color: #3C3C3C;
    font-family: Raleway, sans-serif;
}
a{
    text-decoration: none;
}

/* header */
header{
    width: 900px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header a{
        color: #3C3C3C;
        font-weight: 600;
    }
    header a img{
        vertical-align: middle;
        margin: 0px 8px;
    }

    header nav a{
        padding: 12px;
    }

/* main */    
main{
    width: 960px;
    margin: auto;
}

/* hero-banner */    
#hero-banner{
    height: 450px;
    /* imagen de fondo */
    background-image: url(../imgs/hero-banner.jpg);
    background-size: 960px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
}
    #hero-banner h1{
        color: #fff;
        /* padding-top: 192px;
        padding-left: 150px; */
        width: 290px;
        margin-left: 150px;
        font-size: 32px;
    }

/* sección promos */
#promos{
    height: 382px;
    margin-top: 52px;
    background-color: #FAF0E9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    #promos article{
        width: 256px;
    }
    #promos h2{
        font-size: 16px;
        margin: 12px 0px;
    }